<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    candidatos tarde, 
    <%= cedula %>!

    <form action="">
        <h1>kasdasdad test</h1>
        <img src="" alt="">
        <button>adasd</button>

    </form>
    <form action="">
        <h1>kzzzz test</h1>
        <img src="" alt="">
        <button>asda</button>
    </form>

</body>
</html>